.container{
  text-align: center;
}
.card{
  width:300px;
  height:auto;
  border-radius: 8px;
  box-shadow: 10px 5px 5px gray;
  background-color: darkcyan;
  padding:10px;
  text-align:center;
  color:white;
  margin:20px auto 0;
 background-repeat:no-repeat;
 background-size:cover;
 opacity: 1;
}
.detail-link{
  text-decoration: none;
  color:darkcyan;
  text-align: center;
}
.detail-link:hover{
  text-decoration: underline;
}

.sb-example-1 .search {
  width: 60%;
  position: relative;
  display: flex;
  margin: 30px auto;
  }

.sb-example-1 .searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.sb-example-1 .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-icon{
  font-size: 25px;

}

.default-label{
color: gainsboro;
font-size: 40px;
margin: 0 auto;
font-style: italic;
font-weight: bold;
display: flex; 
justify-content: center
}
